*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* margin: 1rem 2rem; */
    /* background-color: #081B29; */
    /* color: white; */
}

header{
    background-color: #0B293F;
    display: flex;
    color: white;
    padding: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;

}nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
/* nav ul li a:hover{
    color: white;
} */
 /* HEROS SECTION  */
.heros{
    margin: 0rem 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 'heros-left heros-right';
    height: 92Vh;
}

.heros-left{
    grid-area: heros-left;
    display: flex;
    margin-top: 3rem;
    align-items: center;
}

.heros-left .introduction h2{
    font-size: 4rem;
    color: red;
    
}
.heros-left .introduction h2 span{
    font-size: 3rem;
    padding: 0;
}
.heros-left .introduction p{
    padding: 1rem 0;
}
.heros-left .introduction .developer{
    font-size: 1.7rem;
    font-weight: 600;
}

.heros-left .introduction .intro-desc{
    line-height: 1.5;
    letter-spacing: 1.03;
}

.heros-left .introduction button{
    height: 3rem;
    width: 13rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    background-color: #081B29;
    color: white;
}


.heros-right{
    margin-top: 3rem;
    grid-area: heros-right;
    display: flex;
    justify-content: center;
}

.heros-right .img{
    height: 70%;
    display: grid;
    place-content: center;
    margin-top: 3rem;
        /* display: flex;
        align-items: end;
        justify-content: center; */
}

.heros-right .img .dev-heros-img{
    width: 23rem;
    height: 23rem;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.heros-right .img .dev-heros-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

 /* THE ABOUT SECTION   */
.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    margin-top: 1.5rem;

}

.about h1{
    font-size: 2rem;
        padding: 3.5rem 0;
        margin-top: 1rem;
        font-weight: 800;
}

.abt-sect{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

.dev-img {
    width:100%;
    padding:0 1rem;
    height: 30rem;
    /* box-shadow: 3px 4px 1px 1px rgba( 0,0,0, .6); */
}

.dev-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .5s ease;
}
.dev-img img:hover{
    transform: scale(1.05);
}

.education{
    margin-top: 1rem;
    
}
 /* SKILLS section */

.skills{
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 1rem;
}
.skills h1{
font-size: 2rem;
        padding: 3.5rem 0;
    margin-top: 1rem;
    font-weight: 800;
}

.skills .skills-sect{
    width: 70%;
}

.skills .skills-sect p{
    letter-spacing: 1.02;
    line-height: 1.5;
    text-indent: 1rem;

}

.diversification{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0;

}
 .icons .icon-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: .5rem;
    overflow: hidden;
    background-color: #E9EAEC;
    opacity: 1;
}
 .icons .icon-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

.skill-title{
    padding: .5rem 0;
    text-transform: capitalize;
}


/* THE PROJECTS SECTION */
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.projects h1{
    font-size: 2rem;
            padding: 3.5rem 0;
    margin-top: 1rem;
    font-weight: 800;
}

.projects .projects-sect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.projects .projects-sect .cards{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cards .project-card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .5rem;

}


.cards .project-card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .5s ease;
}

.cards .project-card:hover img{
    transform: scale(1.1);
    opacity: 1;
}

.projects-sect .abt-project{
    position: absolute;
    bottom: 0;
    padding: .5rem;
    background-color: white;
   transform: translateY(70%);
   transition: .5s ease;
   width: 100%;
}
.abt-project h2{
    padding-bottom: .5rem;
}
.cards:hover .abt-project{
transform: translateY(0);
}

.abt-project button{
    padding: .5rem 1rem;
    margin-top: .5rem;
border-radius: .2rem;
border: none;
background-color: blue;
color: white    ;
}
.abt-project button a{
    text-decoration: none;
    color: white;
}

 /* THE CONTACTS SECTION IS HERE  */
.contacts-1 h1{
     font-size: 2rem;
     text-align: center;

    margin-top: 1rem;
    font-weight: 700;
    padding: 1.5rem;
}
.contacts {
    margin:0 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.contacts-left{
    display: flex;
    flex-direction: column;
}

.contacts-left .cont-icon{
    padding: 2rem;
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: start;
    gap: 1rem;
}

.contacts-left .cont-icon .icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.details h2, p{
    padding: .2rem 0;
}
.contacts-left .cont-icon .icon img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.contacts-right{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #081B29;
    width: 75%;
}

.contacts-right h2{
    padding: 1rem;
    color: white;
}

.contacts-right form{
    width: 70%;
    height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    border-radius: .2rem;
}

.contacts-right form .input textarea{
    padding: 1rem;
}
.contacts-right form .input {
    width: auto;
    height: 3rem;
    /* margin: 1rem; */
}

.contacts-right form .input input, textarea{
    width: 100%;
    border-radius: .3rem;
    height: 100%;
    padding-inline-start: .5rem;
    border: none;
    border-bottom: 3px solid black;
}
.contacts-right form .input input:focus{
    border: none;
}

.contacts-right form button{
    height: 3rem;
    width: 50%;
    margin-top: 3rem;
    font-size: 1.2rem;
    border: none;
    background-color: blue;
    color: white;
    border-radius: .2rem;
}

 /* THE FOOTER SECTION  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-top: 1px solid red;
    padding: 1rem;

}

footer .footer-sect{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.footer-sect h2{
    font-size: 1.1rem;
}
.social-icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: .5s ease;
}

.social-icons:hover{
    transform: scale(1.1);
}

.social-icons .icon-img{
    width: 3rem;
    height: 3rem;
    padding: .8rem;
    border-radius: 50%;
}


.social-icons .icon-img img{
    width: 100%;
    height: 100%;
}

footer h3{
    margin-top: 2.2rem;
    text-transform: capitalize;
}



@media screen and (max-width:500px) {
    .heros{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heros .heros-right .img {
        display: none;
        
    }

    .abt-sect{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer h3{
        text-align: center;
    }


}
@media screen and (min-width:501px) and (max-width:800px) {
.heros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heros .heros-right .img {
        display: none;

    }

    .abt-sect {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer h3 {
        text-align: center;
    }
}
